nav{
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    font-family: 'Franklin Gothic Medium';
    font-size: large;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: rgb(149, 91, 237);
}
body{
    background: #595555;
    background-image: url("background.jpg");
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: center;
}
.hero{
    text-align: center;
    padding: 50px;
}
img{
    width: 300px;
    border-radius: 50%;
}
.hero h1{
    font-family: 'Serif';
    color: rgb(242, 242, 243);
    font-size: 50px;
    -webkit-text-stroke: 1px black;
    margin-bottom: 5px;
}
.hero p{
    font-family:'Arial Black';
    color: rgb(230, 234, 234);
    font-size: 20px;
    -webkit-text-stroke: 1px black;
    margin-top: 0px;
}
.about{
    align-items: center;display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background: #f4f4f4;
}
.aboutbox{
    background: white;
    padding: 30px;
    width: 60%;
    max-width: 600px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.about h1{
    font-family: 'Franklin Gothic Medium';
    color: rgb(10, 10, 10);
    align-content: center;  
}
.about p{
    font-family:'Calibri';
    font-size: 15px;
}
