nav{
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    font-family: 'Franklin Gothic Medium';
    font-size: large;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: rgb(149, 91, 237);
}
body{
    background: #595555;
}
.hero{
    text-align: center;
    padding: 50px;
}
img{
    width: 150px;
    border-radius: 50%;
}